fastapi
uvicorn
folium==0.14.0
geopandas==0.13.0
geopy==2.3.0
Jinja2==3.1.2
ortools
pandas==2.0.0
psycopg2-binary==2.9.6
pymongo==3.12.0
pyroutelib3==1.7.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
streamlit==1.22.0
streamlit-folium==0.11.1
urllib3==2.0.2